<!-- Data and Event Binding -->
<!-- <label for="databinding">Server Name</label>
<input
   type="text"
   class="form-control"
   id="databinding"
   (input)="onUpdateServerName($event)"> -->

<!-- 2-Way Binding -->
<label for="2wayBinding">2-Way Databinding</label>
<input
   type="text"
   class="form-control"
   id="2wayBinding"
   [(ngModel)]="serverName">
<!-- <p>{{ serverName }}</p> -->
<button
   class="btn btn-primary"
   [disabled]="!allowNewServer"
   (click)="onCreateServer()">Add Server
</button>
<!-- <p [innerText]="allowNewServer"></p>
<p>{{ allowNewServer }}</p> -->
<!-- <p>{{ serverCreationStatus }}</p> -->
<!-- <p *ngIf="serverCreated; else noServer">Server was created, server name is {{ serverName }}</p>
<ng-template #noServer>
   <p>No server was created!</p>
</ng-template> -->
<p *ngIf="serverCreated">Server was created, server name is {{ serverName }}</p>
<app-server></app-server>
<app-server></app-server>
